CompileFlags:
  Add: [-std=c++23, -stdlib=libc++, -Wdocumentation]
  CompilationDatabase: "build"
  Compiler: clang++

Completion:
  AllScopes: Yes
  ArgumentLists: FullPlaceholders
  HeaderInsertion: Never
  CodePatterns: All

InlayHints:
  BlockEnd: true
  DefaultArguments: true

Hover:
  ShowAKA: true
